#carouselExampleIndicators {
    margin-top: 20px;
}
.textmain{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.htm{
    text-align: center;
    margin-right: 0;
}
.footer{
    background-color: black;
    width: 100%;
    height: 150px;

}

.footer > div > a > img{
    height: 40px; 
}

.footer > p{
    color: #ffffff;  
    font-size: 20px;
}
.footer > .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > div {
    display: flex;
    justify-content: center;
}
.goroda > .row > .col-12 {
    border: #000000 1px solid;
    margin-top: 10px;
    text-align: center;
}
.mb{
    margin-bottom: 10px;
}
.goroda > .row > .col-12 > h2{
    color: #ff0000;
}
.vse > .row > .col-md-6 > img {
    width: 100%;
}
.vse > .row > .col-md-6 {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}
.vse > .row > .col-12 > h2{
    font-size: 50px;
    text-align: left;
}
.vse > .row > .col-12 > h4{
    font-size: 20px;
    text-align: right;
}
.footer > p {
font-size: 20px;
}
